<div class="container clearfix">
	
	<div class="col_one_third nobottommargin topmargin">
		<div class="feature-box fbox-center fbox-plain nobottomborder">
			<div class="fbox-icon">
				<a href="#"><img src="images/icons/restaurant/glass.png" alt="Icon" data-animate="zoomIn"></a>
			</div>
			<h3>World Class Cocktails<span class="subtitle">Famous Recipe's</span></h3>
		</div>
	</div>
	
	<div class="col_one_third nobottommargin topmargin">
		<div class="feature-box fbox-center fbox-plain nobottomborder">
			<div class="fbox-icon">
				<a href="#"><img src="images/icons/restaurant/fork.png" alt="Icon" data-animate="zoomIn" data-delay="200"></a>
			</div>
			<h3>Great Food<span class="subtitle">The Best In Waterbury</span></h3>
		</div>
	</div>
	
	<div class="col_one_third nobottommargin topmargin col_last">
		<div class="feature-box fbox-center fbox-plain nobottomborder">
			<div class="fbox-icon">
				<a href="#"><img src="images/icons/restaurant/tea.png" alt="Icon" data-animate="zoomIn" data-delay="600"></a>
			</div>
			<h3>Amazing Dining Experience<span class="subtitle">Come, Relax, Enjoy</span></h3>
		</div>
	</div>
	<div class="clear"></div>
</div>