<header id="header">
	
	<div id="header-wrap">
		
		<div class="container clearfix">
			
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			
			<!-- Logo
			============================================= -->
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo-resto.png" alt="Canvas Logo"></a>
				<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
			</div><!-- #logo end -->
			
			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu" class="style-5">
				
				<ul class="norightborder norightpadding norightmargin">
					<li class="current"><a href="#"><div><i class="icon-home2"></i>Home</div></a></li>
					<li><a href="#"><div><i class="icon-file-alt"></i>Menu</div></a></li>
					<li><a href="#"><div><i class="icon-users2"></i>About</div></a></li>
					<li><a href="#"><div><i class="icon-th"></i>Demos</div></a></li>
				</ul>
			
			</nav><!-- #primary-menu end -->
		
		</div>
	
	</div>

</header><!-- #header end -->