<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">
	
	<div id="header-wrap">
		
		<div class="container clearfix">
			
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			
			<!-- Logo
			============================================= -->
			<div id="logo">
				<a href="<%= root_url %>" class="standard-logo inline" data-dark-logo="images/logo-white.JPG">
					<img class="inline-block" src="images/logo-white.JPG" alt="Highland Brass Logo">
				Highland Brass Co.</a>
			</div><!-- #logo end -->
			
			<nav id="primary-menu">
				
				<ul class="norightborder norightpadding norightmargin">
					<li class="current"><a href="#"><div><i class="icon-home2"></i>Home</div></a></li>
					<li><a href="#"><div><i class="icon-file-alt"></i>Menu</div></a></li>
					<li><a href="#"><div><i class="icon-users2"></i>About</div></a></li>
					<li><a href="#"><div><i class="icon-th"></i>Demos</div></a></li>
				</ul>
			
			</nav><!-- #primary-menu end -->
		
		</div>
	
	</div>

</header><!-- #header end -->