<section id="slider" class="slider-parallax revslider-wrap full-screen clearfix">
	
	<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>    <!-- SLIDE  -->
				<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="images/stock1.jpg" data-delay="12000"  data-saveperformance="off" data-title="Delicious Recipes">
					<!-- MAIN IMAGE -->
					<img src="images/stock1.jpg"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right center">
					<!-- LAYERS -->
					
					<!-- LAYER NR. 2 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					     data-x="600"
					     data-y="215"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1000"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3;">Amazing Bar Experience</div>
					
					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					     data-x="597"
					     data-y="230"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1200"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3; font-size: 60px;">The Best Cocktail Recipe's</div>
					
					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
					     data-x="600"
					     data-y="340"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1400"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 550px; white-space: normal;">The Home Of the Best Drinks in the Tri-State Area!</div>
					
					<div class="tp-caption customin ltl tp-resizeme"
					     data-x="600"
					     data-y="450"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1550"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3;">
						<a href="#" class="button button-white button-light button-border button-large button-rounded tright nomargin">
							<span>Browse Menu</span>
							<i class="icon-angle-right"></i></a>
					</div>
				
				</li>
				<!-- SLIDE  -->
				<li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-thumb="images/stock2.jpg" data-delay="10000"  data-saveperformance="off"  data-title="Book your Tables">
					<!-- MAIN IMAGE -->
					<img src="images/stock2.jpg"  alt="kenburns6"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-bgpositionend="center center">
					<!-- LAYERS -->
					
					<!-- LAYER NR. 2 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					     data-x="0"
					     data-y="215"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1000"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3; color: #222;">Amazing Drinks</div>
					
					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					     data-x="-3"
					     data-y="230"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1200"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3; color: #222; font-size: 60px;">Come Get a Drink!</div>
					
					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
					     data-x="0"
					     data-y="340"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1400"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3; color: #222; max-width: 550px; white-space: normal;">Famous Drinks.</div>
					
					<div class="tp-caption customin ltl tp-resizeme"
					     data-x="0"
					     data-y="450"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1550"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#" class="button button-3d button-black button-large button-rounded tright nomargin" style="color: #FFF;"><span>Reserve Now</span> <i class="icon-angle-right"></i></a></div>
				
				</li>
				<!-- SLIDE  -->
				<li class="dark" data-transition="slideleft" data-slotamount="1" data-masterspeed="1500" data-thumb="images/stock3.jpg" data-delay="12000"  data-saveperformance="off"  data-title="Full Featured Menu">
					<!-- MAIN IMAGE -->
					<img src="images/stock3.jpg"  alt="kenburns3"  data-bgposition="left top" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right bottom">
					<!-- LAYERS -->
					
					<!-- LAYER NR. 1 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					     data-x="440"
					     data-y="215"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1000"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3;">Wide Array of Options</div>
					
					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					     data-x="287"
					     data-y="230"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1200"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3;">Full Featured Menus</div>
					
					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text"
					     data-x="245"
					     data-y="340"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1400"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 650px; white-space: normal;">Choose from Continental, Oriental, Italian or Thai Cuisines. Or Simply create your own Mix.</div>
					
					<div class="tp-caption customin ltl tp-resizeme"
					     data-x="496"
					     data-y="450"
					     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
					     data-speed="800"
					     data-start="1550"
					     data-easing="easeOutQuad"
					     data-splitin="none"
					     data-splitout="none"
					     data-elementdelay="0.01"
					     data-endelementdelay="0.1"
					     data-endspeed="1000"
					     data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#" class="button button-border button-white button-light button-large button-rounded tright nomargin"><span>Start Now</span> <i class="icon-angle-right"></i></a></div>
				</li>
			</ul>
		</div>
	</div>

</section>